<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  </head> 
  <body>
  <header>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos</p>
    </header>
            <nav>
            <ul> 
                <li><a href="/" class="navegador">Página Principal</a></li>
                <li><a href="author" class="navegador">Autores</a></li>
            </ul>
        </nav>
    <section>
    <h2>Sergio Bermejo Ayllón</h2>
    <h2>Carlos Vega García</h2>
     <img class="vertical" src="images/foto.jpg" title="Aunque no lo parezca estaba nevando :) :)" height="315">
    </section>
  </body>
</html>