body             { background: #333; }

#page-wrap:after { content: "Smartphone Layout"; }

body             { font-size: xx-large; }
input, button    { font-size: x-large; }
footer           { font-size: large; }
